body{
	margin: 0;
	padding: 0;
}

#image{
	max-width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
}
#title{
	text-align: center;
}

#img-caption{
	width: 70%;
	height: 50px;
	margin-top: 10px;
	margin-left: 70px;
	text-align: center;
}