body{
	margin: 0;
	padding: 0;
}

#image{
	max-width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
}
#title{
	text-align: center;
}

#img-caption{
	width: 70%;
	height: 50px;
	margin-top: 10px;
	margin-left: 70px;
	text-align: center;
}
#tribute-info{
	margin: 2% 7%;
}

#about{
	text-align: center;
}

@media only screen and (min-width: 750px) {
	#acheivements{
      text-align: center;
	 
	}
	ul {
		display: inline-block;
		text-align: left;
	}
 }
	
